<div class='container'>
  <div class='form-group col-6 offset-3'>
    <%= select_tag :hashtag, options_for_select(@options_hashtags.map{ |h| [h.descricao, h.id]}, @hashtag.try(:id)), {prompt: 'Selecionar Hashtag', class: 'form-control'} %></br>
  </div>
</div>
<div class="card">
  <div class="card-header text-center">
    <h3>Lista de Tweets</h3>
  </div>
  <div class="card-body">
    <div id='tweets'>
      <% @tweets.each do |tweet|%>
        <strong>Autor:</strong> <%= tweet.autor %></br>
        <strong>Mensagem:</strong> <%= tweet.mensagem %></br>
        <strong>Data de Publicação:</strong> <%= tweet.data_publicacao.strftime("%d/%m/%Y %H:%M:%S") %></br>
        <strong>Hashtags:</strong> <%= tweet.hashtags.join(' ') %>
        <hr>
      <% end %>
      <script>
        $('#hashtag').change(function(){
          window.location.href = '/tweets?hashtag=' + $(this).val();
        })
    
      </script>
      <%= will_paginate @tweets, previous_label: 'Anterior', next_label: 'Próximo' %>
    </div>
  </div>
</div>