<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash.present? %>
      <% flash.each do |type, message|%>
        <div><%= message %></div>
      <% end %>
    <% end %>

   <%# - if flash.present?
    .flash-messages
      %div{class: "flash-box #{flash.first[0] == 'notice' ? 'success' : 'danger'}"}
        .informaion

      - flash.each do |name, msg|
        = content_tag :div, msg, class: 'message' %>

    <%= yield %>
  </body>
</html>
